* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

.decor {
    background-color: rgba(30, 102, 42, 0.705);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(70, 255, 53, 0.651);
    border-radius: 12px;
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    text-align: center;
}

.deco {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    text-align: center;
}

body {
    background: linear-gradient(135deg, #000000, #2f5a38);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: chartreuse;

}

.lal,
.lol,
.lil {
    width: 100%;
    height: 35px;
    margin-bottom: 12px;
    border: none;
    border-radius: 6px;
    padding-left: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.85);
    color: #2d3436;
    font-size: 15px;
}