body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ff74, #9bfe9b);
    color: #c3ffa1;
    margin: 20px;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(0, 48, 4, 0.4);
    border-radius: 10px;
    border: 5px solid rgb(45, 155, 50);
    outline-style: dotted;
    outline-color: #e5ff00;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

ul.listado-personajes {
    list-style: none;
    padding: 0;
}

.personaje-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.personaje-item span {
    margin-right: 10px;
}

.btn-agregar {
    text-decoration: none;
    background-color: #082e96;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;

    border: 5px solid rgb(45, 111, 155);
    outline-style: dotted;
    outline-color: #78b9f5;
}

.btn-agregar:hover {
    background-color: #78b9f5;
}

.btn-editar {
    text-decoration: none;
    background-color: #089643;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;

    border: 5px solid rgb(45, 155, 50);
    outline-style: dotted;
    outline-color: #91f578;
}

.btn-editar:hover {
    background-color: #1ae06d;
}

.btn-eliminar {
    text-decoration: none;
    background-color: darkred;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;

    border: 5px solid rgb(94, 20, 20);
    outline-style: dotted;
    outline-color: #ffda95;
}

.btn-eliminar:hover {
    background-color: red;
}